@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("OpenSans"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
html {
  font-family: "Montserrat", "Arial", sans-serif;
}

.container {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  position: relative;
  overflow: hidden;
  min-height: 800px;
  padding-top: 13px;
  background-color: #f0f0f0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 19px 0 23px;
}
.header__content-container {
  position: relative;
  display: flex;
}
.header__small-ellipse {
  position: absolute;
  top: 129px;
  right: 34px;
}
.header__big-ellipse {
  position: absolute;
  top: 640px;
  right: -98px;
}

.logo__img {
  width: 134px;
  height: 69px;
}

.menu__list {
  display: flex;
  gap: 66px;
}
.menu__item {
  font-size: 18px;
  font-weight: 600;
}

.left-wrapper {
  position: relative;
  top: 6px;
}
.left-wrapper__img {
  position: relative;
  z-index: 4;
}
.left-wrapper__rectangle {
  position: absolute;
  height: 220px;
  border-radius: 100px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.left-wrapper__rectangle_first {
  top: 144px;
  left: -48px;
  z-index: 2;
  width: 566px;
  background-color: #5290ea;
  transform: rotate(-64deg);
}
.left-wrapper__rectangle_second {
  top: 155px;
  left: -29px;
  z-index: 3;
  width: 618px;
  background-color: #f28b64;
  transform: rotate(-51deg);
}
.left-wrapper__rectangle_third {
  top: 197px;
  left: 16px;
  z-index: 1;
  width: 609px;
  background-color: #e2e2e2;
  transform: rotate(-36deg);
}

.right-wrapper {
  position: absolute;
  top: 143px;
  right: 76px;
  z-index: 5;
  width: 372px;
}
.right-wrapper__icons {
  position: relative;
  top: 10px;
  padding-left: 10px;
}
.right-wrapper__title {
  margin-bottom: 3px;
}
.right-wrapper__text {
  position: relative;
  top: -7px;
  margin-bottom: 13px;
}

.icons {
  display: flex;
  gap: 17px;
}

.title {
  position: relative;
  font-size: 72px;
  font-weight: 600;
}
.title::after {
  position: absolute;
  top: 76px;
  left: 0;
  content: "";
  display: block;
  width: 65px;
  height: 1px;
  background-color: #000;
}

.text {
  font-size: 16px;
}

.buttons {
  display: flex;
  gap: 32px;
}
.buttons__main-btn {
  width: 200px;
  height: 60px;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background-color: #f28b64;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.buttons__icon-btn {
  display: flex;
  align-items: center;
  gap: 12px;
}

.ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(144deg, rgba(237, 123, 80, 0.5) 15%, rgba(72, 138, 234, 0.5) 53%, rgba(44, 44, 44, 0.5) 86%);
}
.ellipse_small {
  width: 194px;
  height: 194px;
}
.ellipse_big {
  width: 282px;
  height: 282px;
}
.ellipse__subtract {
  border-radius: 50%;
  background-color: #f0f0f0;
}
.ellipse__subtract_small {
  width: 130px;
  height: 130px;
}
.ellipse__subtract_big {
  width: 188px;
  height: 188px;
}

.section-about {
  overflow: hidden;
  min-height: 700px;
}
.section-about__container {
  position: relative;
  padding-top: 31px;
}
.section-about__container .title::after {
  top: 86px;
  left: 6px;
  width: 94px;
}
.section-about__title {
  margin-bottom: 40px;
}
.section-about__cards-box {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 24px;
}
.section-about__icons-box {
  display: flex;
  justify-content: center;
  gap: 55px;
}
.section-about__first-ellipse {
  position: absolute;
  top: 65px;
  right: -52px;
  z-index: -1;
}
.section-about__second-ellipse {
  position: absolute;
  top: 362px;
  left: -74px;
  z-index: -1;
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 360px;
  height: 360px;
  border-radius: 10px;
}
.card_first {
  background-color: #e2e2e2;
}
.card_second {
  background-color: #f28b64;
}
.card_third {
  background-color: #5290ea;
}
.card__img {
  height: 335px;
}
.card__text {
  position: absolute;
  top: 134px;
  right: -45px;
  width: 280px;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  transform: rotate(90deg);
}

.icons-item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.icons-item__text {
  font-size: 18px;
  line-height: 1.15;
}
.icons-item__span {
  font-size: 48px;
  font-weight: 600;
}

.section-learning {
  position: relative;
  z-index: 0;
  overflow: hidden;
  min-height: 640px;
  background-color: #f0f0f0;
}
.section-learning__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 19px 46px 167px;
}
.section-learning__right-wrapper {
  position: relative;
  max-width: 480px;
}
.section-learning__right-wrapper .title::after {
  top: 65px;
  left: 15px;
}
.section-learning__right-title {
  margin-bottom: 20px;
  padding-left: 8px;
  line-height: 0.9;
}
.section-learning__text {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-bottom: 30px;
  font-size: 18px;
}
.section-learning__first-ellipse {
  position: absolute;
  top: 159px;
  left: 109px;
  z-index: -1;
}
.section-learning__full-ellipse {
  position: absolute;
  top: 248px;
  left: 13px;
  z-index: -1;
}
.section-learning__second-ellipse {
  position: absolute;
  top: -123px;
  right: -93px;
}

.footer__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 272px;
}
.footer__img {
  position: absolute;
  left: -150px;
  bottom: 0;
}
.footer__title {
  position: relative;
  margin-bottom: 20px;
  line-height: 0.9;
}
.footer .title::after {
  top: 62px;
  left: 3px;
}

/* -------------------- 992-1199px -------------------- */
@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
  .header {
    min-height: 690px;
  }
  .header__small-ellipse {
    right: 10px;
  }
  .header__big-ellipse {
    top: 560px;
  }
  .left-wrapper__img {
    width: 750px;
  }
  .left-wrapper__rectangle {
    height: 200px;
  }
  .left-wrapper__rectangle_first {
    width: 500px;
  }
  .left-wrapper__rectangle_second {
    width: 550px;
  }
  .left-wrapper__rectangle_third {
    width: 500px;
  }
  .right-wrapper {
    right: 20px;
  }
  .section-about {
    min-height: 600px;
  }
  .section-about__cards-box {
    gap: 20px;
  }
  .section-about__icons-box {
    gap: 30px;
  }
  .card {
    width: 300px;
    height: 300px;
  }
  .card__img {
    height: 270px;
  }
  .card__text {
    top: 120px;
    right: -55px;
    font-size: 30px;
  }
  .icons-item {
    gap: 10px;
  }
  .section-learning__container {
    padding-left: 20px;
  }
  .section-learning__right-wrapper {
    max-width: 450px;
  }
  .footer__img {
    left: -250px;
  }
}
/* -------------------- 768-991px -------------------- */
@media (max-width: 991px) {
  .container {
    width: 720px;
  }
  .header {
    min-height: 530px;
  }
  .header__small-ellipse {
    top: 70px;
  }
  .header__big-ellipse {
    top: 400px;
  }
  .left-wrapper__img {
    width: 550px;
  }
  .left-wrapper__rectangle {
    height: 130px;
  }
  .left-wrapper__rectangle_first {
    width: 380px;
  }
  .left-wrapper__rectangle_second {
    width: 410px;
  }
  .left-wrapper__rectangle_third {
    width: 380px;
  }
  .right-wrapper {
    top: 75px;
    width: 300px;
  }
  .right-wrapper__text {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .title {
    font-size: 60px;
  }
  .title::after {
    top: 66px;
  }
  .buttons {
    justify-content: space-between;
    gap: 10px;
  }
  .buttons__main-btn {
    height: 50px;
    font-size: 14px;
  }
  .buttons__icon-btn {
    font-size: 14px;
  }
  .ellipse_small {
    width: 150px;
    height: 150px;
  }
  .ellipse__subtract_small {
    width: 110px;
    height: 110px;
  }
  .ellipse_big {
    width: 250px;
    height: 250px;
  }
  .ellipse__subtract_big {
    width: 170px;
    height: 170px;
  }
  .section-about {
    min-height: 450px;
  }
  .section-about__container {
    padding-top: 20px;
  }
  .section-about__container .title::after {
    top: 76px;
  }
  .section-about__title {
    margin-bottom: 25px;
  }
  .section-about__cards-box {
    margin-bottom: 10px;
  }
  .section-about__first-ellipse {
    right: -35px;
  }
  .section-about__second-ellipse {
    top: 265px;
    left: -35px;
  }
  .card {
    width: 220px;
    height: 220px;
  }
  .card__img {
    height: 200px;
  }
  .card__text {
    top: 92px;
    right: -75px;
    font-size: 22px;
  }
  .icons-item__img {
    width: 50px;
  }
  .icons-item__text {
    font-size: 14px;
  }
  .icons-item__span {
    font-size: 30px;
  }
  .section-learning {
    min-height: 500px;
  }
  .section-learning__container {
    justify-content: flex-start;
    padding-top: 20px;
  }
  .section-learning__container .title::after {
    top: 56px;
  }
  .section-learning__left-title {
    display: none;
  }
  .section-learning__right-wrapper {
    max-width: 600px;
  }
  .section-learning__right-title {
    margin-bottom: 10px;
  }
  .footer__container {
    min-height: 210px;
  }
  .footer__container .title::after {
    top: 56px;
  }
  .footer__img {
    width: 500px;
  }
  .footer__title {
    margin-bottom: 10px;
  }
}
/* -------------------- 576-767px -------------------- */
@media (max-width: 767px) {
  .header {
    min-height: 370px;
  }
  .header__small-ellipse {
    top: 40px;
  }
  .header .right-wrapper__icon-btn {
    display: none;
  }
  .container {
    width: 540px;
  }
  .burger {
    position: absolute;
    top: 12px;
    right: 20px;
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
    background: linear-gradient(144deg, rgba(237, 123, 80, 0.5) 15%, rgba(72, 138, 234, 0.5) 53%, rgba(44, 44, 44, 0.5) 86%);
  }
  .burger__line {
    width: 30px;
    height: 2px;
    background-color: #000;
    transition: 0.5s all ease;
  }
  .burger_active .burger__line_first {
    margin-bottom: -6px;
    transform: rotate(45deg);
  }
  .burger_active .burger__line_second {
    display: none;
  }
  .burger_active .burger__line_third {
    transform: rotate(135deg);
  }
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 50%;
    height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #5290ea;
    transition: 0.6s all ease;
  }
  .menu__list {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 0;
  }
  .menu__item {
    font-size: 22px;
  }
  .menu_active {
    right: 0;
  }
  .left-wrapper__img {
    width: 350px;
  }
  .left-wrapper__rectangle {
    height: 85px;
  }
  .left-wrapper__rectangle_first {
    top: 95px;
    width: 290px;
  }
  .left-wrapper__rectangle_second {
    top: 100px;
    left: -32px;
    width: 310px;
  }
  .left-wrapper__rectangle_third {
    top: 115px;
    left: -5px;
    width: 290px;
  }
  .right-wrapper {
    top: 25px;
    right: 10px;
    width: 200px;
  }
  .right-wrapper__text {
    margin-bottom: 10px;
  }
  .right-wrapper__icons {
    margin-bottom: 15px;
    padding-left: 0;
  }
  .right-wrapper__title {
    margin-bottom: 15px;
  }
  .title {
    font-size: 40px;
  }
  .title::after {
    top: 45px;
  }
  .icons {
    gap: 10px;
  }
  .icons__img {
    width: 35px;
    height: 35px;
  }
  .section-about {
    min-height: 400px;
  }
  .section-about__container {
    padding-top: 10px;
  }
  .section-about__container .title::after {
    top: 50px;
  }
  .section-about__title {
    margin-bottom: 15px;
  }
  .section-about__icons-box {
    gap: 15px;
  }
  .section-about__first-ellipse {
    top: 30px;
  }
  .section-about__second-ellipse {
    top: 230px;
  }
  .card {
    width: 170px;
    height: 200px;
  }
  .card__img {
    height: 180px;
  }
  .card__text {
    top: 75px;
    right: -60px;
    width: 180px;
    font-size: 20px;
  }
  .icons-item__img {
    width: 35px;
  }
  .icons-item__text {
    font-size: 12px;
  }
  .icons-item__span {
    font-size: 20px;
  }
  .section-learning {
    min-height: 430px;
  }
  .section-learning__container {
    padding: 20px;
  }
  .section-learning__container .title::after {
    top: 40px;
  }
  .section-learning__right-wrapper {
    max-width: 100%;
  }
  .section-learning__right-title {
    margin-bottom: 20px;
  }
  .section-learning__text {
    gap: 12px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .section-learning__first-ellipse {
    top: 100px;
  }
  .section-learning__full-ellipse {
    top: 170px;
  }
  .section-learning__second-ellipse {
    top: -135px;
    right: -130px;
  }
  .footer__img {
    width: 480px;
  }
  .footer__title {
    margin-bottom: 20px;
  }
  .footer .title::after {
    top: 40px;
  }
}
/* -------------------- 320-575px -------------------- */
@media (max-width: 575px) {
  .container {
    width: 100%;
  }
  .header__small-ellipse {
    top: 50px;
  }
  .menu {
    width: 100%;
  }
  .left-wrapper {
    display: none;
  }
  .right-wrapper {
    top: 10px;
    right: 5px;
    width: 90%;
  }
  .right-wrapper__text {
    margin-bottom: 20px;
  }
  .right-wrapper__icons {
    margin-bottom: 20px;
  }
  .right-wrapper__title {
    margin-bottom: 20px;
  }
  .icons {
    gap: 20px;
  }
  .icons__img {
    width: 50px;
    height: 50px;
  }
  .buttons__main-btn {
    width: 250px;
    height: 60px;
    font-size: 18px;
  }
  .buttons__icon-btn {
    display: none;
  }
  .section-about {
    min-height: 1540px;
  }
  .section-about__title {
    margin-bottom: 20px;
  }
  .section-about__cards-box {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .section-about__icons-box {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .section-about__first-ellipse {
    display: none;
  }
  .section-about__second-ellipse {
    display: none;
  }
  .card {
    width: 320px;
    height: 320px;
  }
  .card__img {
    height: 280px;
  }
  .card__text {
    top: 120px;
    right: -65px;
    width: 280px;
    font-size: 32px;
  }
  .icons-item {
    width: 230px;
  }
  .icons-item__img {
    width: 80px;
  }
  .icons-item__text {
    font-size: 18px;
  }
  .section-learning__first-ellipse {
    top: 80px;
  }
  .section-learning__second-ellipse {
    top: -165px;
  }
  .section-learning__full-ellipse {
    top: 180px;
  }
  .footer__container {
    min-height: 170px;
  }
  .footer__img {
    display: none;
  }
  .footer__wrapper {
    margin-left: auto;
    margin-right: auto;
  }
  .footer__icons {
    justify-content: center;
  }
}